* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;        
}

.cabecalho {
    background-color: #0097b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: solid orangered 5px; 
}

.cabecalho img{
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px; 
}

.botaoCabecalho {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.botaoCabecalho:hover {
    transform: scale(1.1);
}

.main-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;
}

.main-form h1 {
    font-size: 40px;
}

.formulario {
    color: #0097b2;
    border: solid 2px #0097b2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    width: 450px;
}

.campo-form {
    background: none;
    border: none;
    border-bottom: 1px solid #0097b2;
    font-size: 20px;
    transition: transform 0.3s ease;
    width: 300px;
}

.campo-form:hover {
    transform: scale(1.1);
}

.campo-form:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formulario select {
    border: #0097b2 solid 2px;
    border-radius: 10px;
    width: 200px;
    font-size: 20px;
}

.botao-enviar {
    background-color: orangered;
    color: #f6f6f6;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.botao-enviar:hover {
    transform: scale(1.1);
}