* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;        
}

.cabecalho {
    background-color: #0097b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: solid orangered 5px; 
}

.cabecalho img{
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px; 
}

.botaoCabecalho {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.botaoCabecalho:hover {
    transform: scale(1.1);
}

.pagina-inventario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.tabela-total {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

th, tr, td {
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    min-width: 150px;
    height: 50px;
}

.tabela {
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}

.tabela th {
    background-color: orange;
}

.alerta_severo_estoque {
    background-color: salmon;
    color: red;
}

.alerta_estoque {
    background-color: khaki;
    color: rgb(253, 253, 52);
}

.botao-acao-mais {
    background-color: limegreen;
    border: solid 1px green;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.botao-acao-menos {
    background-color: tomato;
    border: solid 1px red;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.botao-acao-deletar {
    text-decoration: none;
}

footer {
    background-color: #0097b2;
    color: #f6f6f6;
    text-align: center;
}

.footer-completo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 30px;
}

.parte-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parte-footer h3, .parte-footer-legenda h3 {
    color: orange;
}

.parte-footer-legenda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linha-footer {
    background-color: orangered;
    width: 2px;
    height: 150px;
}